<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register </title>
</head>
<body>
    <h2>Cakes & Bases</h2>
    <p>Welcome</p>
    <p>You have been register with: </p>
    <p>Username: <%= username%></p>
    <p>Password: <%= password%></p>
    
    <h1><%= email%></h1>
    
    
</body>
</html>